<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%=stranka.StRacunov%>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
var postna;
	$(document).ready(function() {
		arrayMest(function(mesta){
			document.getElementById("seznamStrank").addEventListener("click", function highlightajRacuneZaStranko(stranka, racuni) {
				var tabela = document.getElementById("seznamStrank");
				var ime = tabela.options[tabela.selectedIndex].text.split(",");
				for (var i = 0; i < seznamRacunov.length; i++) {
					//console.log(ime[0]);
				    if (seznamRacunov[i].text.includes(ime[0])) {
				      //console.log("YEEEEEEEEEEEEEEEEEEEET");
				      seznamRacunov[i].classList.toggle("racun-stranke");
				    }else if(seznamRacunov[i].classList.contains("racun-stranke")){
				    	seznamRacunov[i].classList.remove("racun-stranke");
				    }
				}
			});			
			var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
			document.getElementById("Email").addEventListener("keyup", function(){
				if(emailRegex.test(document.getElementById("Email").value) == true){
					document.getElementById("EmailValidate").className = "glyphicon glyphicon-ok";
					if(document.getElementById("PostalCode").value != "" && document.getElementById("Country").value != ""){ //TODO ŠE KO SPREMINJAŠ COuNTRY IN POSTCODE
						document.getElementById("Register").disabled = false;
					}
					
				}else{
					document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
					document.getElementById("Register").disabled = true;
				}
			});
						
			document.getElementById("PostalCode").addEventListener("keyup", function () {
				if(this.value.length == 0){
					document.getElementById("Register").disabled = true;
				}
			});
			document.getElementById("Country").addEventListener("keyup", function () {
				if(this.value.length == 0){
					document.getElementById("Register").disabled = true;
				}
			});
			document.getElementById("City").addEventListener("input", function () {
				refreshPost(mesta);
				/*mesta.forEach(function(element){
					if(element.kraj == document.getElementById("City").value){
						var asdfasdfas = document.getElementById("City").value;
						document.getElementById("PostalCode").value = element.postnaStevilka;
					}
				});*/
				if (this.value.length == 0) {
					document.getElementById("PostalCode").value = "";
					document.getElementById("Country").value = "";
					document.getElementById("Register").disabled = true;
				}
	
			});
			
function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].kraj.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].kraj.substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].kraj.substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i].kraj + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              refreshPost(mesta);
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { 
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}
		autocomplete(document.getElementById("City"), mesta);
		});
	});


function arrayMest(callback) {
	  var xobj = new XMLHttpRequest();
	  //xobj.overrideMimeType("application/json");
	  xobj.open("GET", "https://api.lavbic.net/kraji" , true);
	  xobj.onreadystatechange = function () {
	    // rezultat ob uspešno prebrani datoteki
	    if (xobj.readyState == 4 && xobj.status == "200") {
	       var json = JSON.parse(xobj.responseText);
	            // vrnemo rezultat
		        callback(json);
		    }
		  };
	  xobj.send(null);
}
function refreshPost(mesta){
	for (i = 0; i < mesta.length; i++) {
		if(mesta[i].kraj == document.getElementById("City").value){
			document.getElementById("PostalCode").value = mesta[i].postnaStevilka;
			document.getElementById("Country").value = "Slovenija";
			var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
			if(emailRegex.test(document.getElementById("Email").value) == true){
				document.getElementById("Register").disabled = false;
			}
		}
	}
}
</script>

</body>
</html>
